{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block body %}
<html>
    <head>
        <title>Add Site Page</title>
    </head>
    <body>
            <form action="/site/add/" method="POST" class="container">
                <div class="form-group">
                    <label for="name">Site Name</label>
                    <input type="integer" class="form-control" id="name" name="name" placeholder="Location Name">
                    <br>

                    <label for="latitude">Latitude</label>
                    <input type="integer" class="form-control" id="latitude" name="latitude" placeholder="Latitude">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" onclick="updateGPS();">Read Lat/Long From GPS</button>
                    </div>
                    <br>

                    <label for="longitude">Longitude</label>
                    <input type="integer" class="form-control" id="longitude" name="longitude" placeholder="Longitude">
                    <br>

                    <label for="depth">Depth (meters)</label>
                    <input type="integer" class="form-control" id="depth" name="depth" placeholder="Depth">
                    <br>
                    
                </div>

                <button type="submit" class="btn btn-primary">Save Site</button>
                {{ form.csrf_token }}
            </form>

            <br>

            <div class="container">
                <div class="container" >
                    {% if site_list %}
                        <h2>Sites:</h2>
                        {% for site in site_list %}
                            <div class="row">
                                <div class="col-sm-10">
                                    <p>{{ site }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No Sites Found</p>
                    {% endif %}
                </div>

        </div>
        
        <script type="text/javascript">
            function updateGPS(){
                const url = "/api/gps/";  
                fetch(url)
                    .then((resp) => resp.json())
                    .then(function(gps) { 
                        document.getElementById("latitude").value = gps["latitude"];
                        document.getElementById("longitude").value = gps["longitude"];
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            }
        
        </script>

    </body>
</html>
{% endblock %}